.bg-1 {
  position: absolute;
  background: url("./images/hikone-sakura.jpg") center center / cover no-repeat fixed;
  z-index: -1;
}

.bg-1:before {
  content: '';
  position: absolute;
  top: 350px;
  width: 120%;
  height: 500px;
  background: #FFF;
  left: 60%;
  -webkit-transform-origin: left top;
  -ms-transform-origin: left top;
  transform-origin: left top;
  -webkit-transform: rotate(5deg) translate(-50%, 0);
  -ms-transform: rotate(5deg) translate(-50%, 0);
  transform: rotate(5deg) translate(-50%, 0);
}

.title-1 {
  font-size: 1.4em;
  font-weight: bold;
  color: #000;
  letter-spacing: 0.1em;
  line-height: 2.3em;
}

.title-2 {
  font-size: 1.15em;
  line-height: 2.1em;
}

.title-3 {
  width: 100vw;
  text-align: center;
  font-size: 32px;
  font-weight: bold;
  line-height: 170px;
  color: #fff;
  padding: 70px 0;
  position: relative;
  white-space: nowrap;
}

.title-3:before {
  content: '';
  position: absolute;
  width: 120vw;
  height: 200px;
  background: #ffcccc;
  z-index: -1;
  left: 60vw;
  -webkit-transform-origin: left top;
  -ms-transform-origin: left top;
  transform-origin: left top;
  -webkit-transform: rotate(3deg) translate(-50%, 0);
  -ms-transform: rotate(3deg) translate(-50%, 0);
  transform: rotate(3deg) translate(-50%, 0);
}

.title-3:after {
  content: '';
  position: absolute;
  width: 120vw;
  height: 200px;
  background: #fee;
  z-index: -2;
  left: 40vw;
  -webkit-transform-origin: left top;
  -ms-transform-origin: left top;
  transform-origin: left top;
  -webkit-transform: rotate(-3deg) translate(-50%, 0);
  -ms-transform: rotate(-3deg) translate(-50%, 0);
  transform: rotate(-3deg) translate(-50%, 0);
}

.sub-title-1 {
  font-size: 0.9em;
  color: #994d4d;
  line-height: 1.6em;
}

.hr-1 {
  width: 73px;
  margin: 2.8em auto;
  background: #ffb3b3;
}

.center {
  margin-left: auto;
  margin-right: auto;
  max-width: 928px;
  padding: 24px;
}

.preview-container {
  display: flex;
  flex-flow: row wrap;
  padding: 1em 0;
}

.preview {
  flex: 1 0 210px;
  position: relative;
  margin: 1em 1em;
}

.category {
  position: absolute;
  left: -0.5em;
  top: 0.5em;
  padding: 0 0.3em;
  -webkit-transform-origin: left top;
  -ms-transform-origin: left top;
  transform-origin: left top;
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
  font-size: 0.85em;
  font-weight: bold;
  background: #ff8080;
  color: #FFF;
  letter-spacing: 0.1em;
  border-radius: 3px;
}